<nav class="row menu-bar">
    <div id="logo" class="three columns">
        <h3>Free<span>Space</span></h3>
        <p>Collaborative artist project</p>
    </div>
    <div class="nine columns navigation">
        <ul class="nav-main-ul">
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li id="toggle-about-menu"><a href="{{site.baseurl}}/about-us/">About Us</a>
                <ul id="about-menu" class="nav-secondary-ul">
                    <li><a href="{{site.baseurl}}/about-us/river/">River</a></li>
                    <li><a href="{{site.baseurl}}/about-us/tessa/">Tessa</a></li>
                    <li><a href="{{site.baseurl}}/about-us/aden/">Aden</a></li>
                </ul>
            </li>
            <li id="toggle-news-menu"><a href="{{site.baseurl}}/news/">News</a>
                <ul id="news-menu" class="nav-secondary-ul">
                    <li><a href="{{site.baseurl}}/news/events/">Events</a></li>
                    <li><a href="{{site.baseurl}}/news/upcoming-projects/">Upcomming Projects</a></li>
                </ul>
            </li>
            <li id="toggle-projects-menu"><a href="{{site.baseurl}}/projects/">Projects</a>
                <ul id="projects-menu" class="nav-secondary-ul">
                    <li id="toggle-finished-projects-menu"><a href="{{site.baseurl}}/projects/finished-projects/">Finished Projects</a>
                        <ul id="finished-projects-menu" class="nav-tertiary-ul">
                            <li><a href="{{site.baseurl}}/projects/finished-projects/fine-art/">Fine Art</a></li>
                            <li><a href="{{site.baseurl}}/projects/finished-projects/writing/">Writing</a></li>
                            <li><a href="{{site.baseurl}}/projects/finished-projects/graphic-design">Graphic Design</a></li>
                            <li><a href="{{site.baseurl}}/projects/finished-projects/photography/">Photography</a></li>
                        </ul>
                    </li>
                    <li id="toggle-work-in-progress-menu"><a href="{{site.baseurl}}/projects/works-in-progress/">Works in Progress</a>
                        <ul id="work-in-progress-menu" class="nav-tertiary-ul">
                            <li><a href="{{site.baseurl}}/projects/works-in-progress/fine-art/">Fine Art</a></li>
                            <li><a href="{{site.baseurl}}/projects/works-in-progress/writing/">Writing</a></li>
                            <li><a href="{{site.baseurl}}/projects/works-in-progress/graphic-design">Graphic Design</a></li>
                            <li><a href="{{site.baseurl}}/projects/works-in-progress/photography/">Photography</a></li>
                        </ul>
                    </li>
            </li>
            </ul>
            </li>
            <li id="toggle-shop-menu"><a href="{{site.baseurl}}/shop/">Shop</a>
                <ul id="shop-menu" class="nav-secondary-ul">
                    <li><a href="{{site.baseurl}}/shop/books/">Books</a></li>
                    <li><a href="{{site.baseurl}}/shop/graphic-design/">Graphic Design</a></li>
                    <li><a href="{{site.baseurl}}/shop/t-shirts/">T - Shirts</a></li>
                    <li><a href="{{site.baseurl}}/shop/photography/">Photography</a></li>
                    <li><a href="{{site.baseurl}}/shop/artist-prints/">Prints</a></li>
                </ul>
            </li>
            <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
            <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
        </ul>
    </div>
</nav>
