<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello for now</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>

<body>
    <section class="the-bun">
        <section class="the-meat">
            {% include nav.html %} 
            {{content}}
        </section>
    </section>
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="{{site.baseurl}}/javascript/menutoggle.js"></script>
</body>

</html>
